#row{
    display: flex;
}

#column
{
    flex:33.33%;
   
    padding: 5px;
   
    margin: 5px;
    padding: 10px;
   
    height:200px;
 
   
}
h2{
    margin-top:5vw;
    display: block;
    margin-left: 40vw;
    margin-right: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    height: 400px;
    width: 400px;
  
  }
  h2{
    display: block;
    margin-top:5vw;
    margin-left: 40vw;
    margin-right: auto;
}

#bodys {
 
  
  
    background: url(../../../../assets/images/sindromDown.png) no-repeat center center fixed; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;



}