
  #bodys {
 
  
  
    background: url(../../../assets/images/sindromDown.png) no-repeat center center fixed; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;



}
h2{
  display: block;
  margin-top:5vw;
  margin-left: 40vw;
  margin-right: auto;
}
p{
  margin-left: 5vw;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}