<div id="bodys">
  <app-navbar-autism></app-navbar-autism>
  <h2 *ngIf="exercises">{{exercises[0].name}}</h2>

<div id="row"><div id="column" *ngFor="let animal of animals" >
    <img class="idA" id="{{animal.idEntity}}" src="{{animal.imagePath}}" alt="{{animal.idEntity}}">
   
  </div>
</div>
<div id="row">
    <div id="column" (drop)="drop4($event)" (dragover)="allowDrop($event)">
    
    </div>
    <div id="column" (drop)="drop1($event)" (dragover)="allowDrop($event)">
    
    </div>
    <div id="column" (drop)="drop8($event)" (dragover)="allowDrop($event)">
    
    </div>
    </div>
  <div id="row">
  <div id="column" (drop)="drop($event)" (dragover)="allowDrop($event)" *ngFor="let number of numbers" >
    <img class="{{number.idEntity}}" id="{{number.idEntity}}" src="{{number.imagePath}}" graggable="true" (dragstart)="drag($event)" alt="{{number.idEntity}}">
   
  
  </div>
</div>
</div>