#row{
    display: flex;
}

#column
{
    flex:33.33%;
   
    padding: 5px;
   
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    height:200px;
 
   
}

#4hexaA{
    widows: 160px;
    height: 160px;
}
#j1A{
    widows: 160px;
    height: 160px;
}
#jucariiA{
    widows: 160px;
    height: 160px;
}
#n1{
    widows: 160px;
    height: 160px;
}
#n4{
    widows: 160px;
    height: 160px;
}
#n8{
    widows: 160px;
    height: 160px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  h2{
    display: block;
    margin-top:5vw;
    margin-left: 40vw;
    margin-right: auto;
}

#bodys {
 
  
  
    background: url(../../../../assets/images/autism.png) no-repeat center center fixed; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;



}