<div class="bodys">
  <app-navbar-autism></app-navbar-autism>
  <h2 *ngIf="exercises">{{exercises[0].name}}</h2>
<svg width="1000" height="800" class="allS" >

  <rect *ngIf="rects" [attr.x]="rects[0].x" [attr.y]="rects[0].y" [attr.width]="rects[0].width" [attr.height]="rects[0].height"  [attr.class]="rects[0].class" />
  <polygon *ngIf="polygon" [attr.points]="polygon[0].points" [attr.class]="polygon[0].class" />
  <circle *ngIf="circleC"  [attr.cx]="circleC[0].cx" [attr.cy]="circleC[0].cy" [attr.r]="circleC[0].r" [attr.stroke]="circleC[0].stroke" [attr.stroke-width]="circleC[0].strokeWidh" [attr.fill]="circleC[0].fill"  [attr.id]="circleC[0].idSvg"/>
  <circle *ngFor="let circle of circles"  [attr.cx]="circle.cx" [attr.cy]="circle.cy" [attr.r]="circle.r" [attr.stroke]="circle.stroke" [attr.stroke-width]="circle.strokeWidh" [attr.fill]="circle.fill"  [attr.id]="circle.idSvg" [attr.class]="circle.class" (click)="onSelect(circle)" />

</svg> 
</div>
