.bodys{
    background-color: rgb(173,216,230);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
   
   

}
.allS{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.romb{
    fill:rgb(173,216,230);
    stroke:black;
    stroke-width: 3;
}
h2{
    margin-top:5vw;
    display: block;
    margin-left: 40vw;
    margin-right: auto;
}