<div id="bodys">
    <div id="body">
        <audio src = "../../assets/audios/games.mp3" type="audio/mpeg"  autoplay>
        </audio>
    <nav>
        <a routerLink="/home"><img id="homePage" src="../../assets/images/arrowB.png" alt="back"></a></nav>
        
        
      
  <div id="row">
  <div id="column">
  <nav>
    <a routerLink="/games/game1"><img id="gPage" src="../../assets/images/g1.png" alt="joc1"></a>
  </nav>
  </div>
  <div id="column">
  <nav>
    <a routerLink="/games/game2"><img id="gPage" src="../../assets/images/g2.png" alt="joc2"></a>
  </nav>
  </div>
  <div id="column">
  <nav>
    <a routerLink="/games/game3"><img id="gPage" src="../../assets/images/g3.png" alt="joc3"></a>
  </nav>
  </div>
  </div>
  <div id="row">
  <div id="column">
  <nav>
    <a routerLink="/games/game4"><img id="gPage" src="../../assets/images/g4.png" alt="joc4"></a>
  </nav>
  </div>
  <div id="column">
  <nav>
    <a routerLink="/games/game5"><img id="gPage" src="../../assets/images/g5.png" alt="joc5"></a>
  </nav>
  </div>
  <div id="column">
  <nav>
    <a routerLink="/games/game8"><img id="gPage" src="../../assets/images/g6.png" alt="joc6"></a>
  </nav>
  </div>
  </div>
</div>