<div class="bodys">
  <app-navbar-autism></app-navbar-autism>
  <h2 *ngIf="exercises">{{exercises[0].name}}</h2>
  
  <svg width="900" height="600" class="allS" >
    <!--polygon points="350,60 100,600 700,600" class="triangle" />-->
    <polygon *ngIf="polygon" [attr.points]="polygon[0].points" [attr.class]="polygon[0].class" />
    <circle *ngFor="let circle of circles"  [attr.cx]="circle.cx" [attr.cy]="circle.cy" [attr.r]="circle.r" [attr.stroke]="circle.stroke" [attr.stroke-width]="circle.strokeWidh" [attr.fill]="circle.fill"  [attr.id]="circle.idSvg" [attr.class]="circle.class" (click)="onSelect(circle)" />
  
  </svg> 
</div>