<div id="bodys"> 
  <app-navbar-sindrom-down></app-navbar-sindrom-down>
  <div id="row">
    <div id="column">
      <nav>
        <a routerLink="/main/homeSindromDown/sets/set1game1"><img id="gPage" src="../../../../assets/images/setSD1.png" alt="joc1"></a>
      </nav>
    </div>
    <div id="column">
      <nav>
        <a routerLink="/main/homeSindromDown/sets/set2game1"><img id="gPage" src="../../../../assets/images/setSD2.png" alt="joc2"></a>
      </nav>
    </div>
    <div id="column">
      <nav>
        <a routerLink="/main/homeSindromDown/sets/set3game1"><img id="gPage" src="../../../../assets/images/setSD3.png" alt="joc3"></a>
      </nav>
    </div>
    <div id="column">
      <nav>
        <a routerLink="/main/homeSindromDown/sets/set4game1"><img id="gPage" src="../../../../assets/images/setSD4.png" alt="joc4"></a>
      </nav>
    </div>
</div>
<div id="row">
  <div id="column">
    <nav>
      <a routerLink="/main/homeSindromDown/sets/set5game1"><img id="gPage" src="../../../../assets/images/setSD5.png" alt="joc5"></a>
    </nav>
  </div>
  <div id="column">
    <nav>
      <a routerLink="/main/homeSindromDown/sets/set6game1"><img id="gPage" src="../../../../assets/images/setSD6.png" alt="joc6"></a>
    </nav>
  </div>
  <div id="column">
    <nav>
      <a routerLink="/main/homeSindromDown/sets/set7game1"><img id="gPage" src="../../../../assets/images/setSD7.png" alt="joc7"></a>
    </nav>
  </div>
  <div id="column">
    <nav>
      <a routerLink="/main/homeSindromDown/sets/set8game1"><img id="gPage" src="../../../../assets/images/setSD8.png" alt="joc8"></a>
    </nav>
  </div>

</div>
</div>