#bodys {
    background: url(../../../assets/images/sindromDown.png) no-repeat center center fixed; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
}

#porcS
{
    position: absolute;
    top: 70vh;
    left: 76vw;
}
#vacaS
{
    position: absolute;
    top: 60vh;
    left: 12vw;
    width: 280px;
    height: 300px;
}
#gainaS
{
    position: absolute;
    top: 65vh;
    left: 45vw;
}
#caineS
{
    position: absolute;
    top: 50vh;
    left: 60vw;
    width: 200px;
    height: 200px;
}
#pisicaS
{
    position: absolute;
    top: 50vh;
    left: 30vw;
    width: 200px;
    height: 200px;
}