<div id="bodys"> 
    <app-navbar-autism></app-navbar-autism>  
    <div id="row">
      <div id="column">
        <nav>
          <a routerLink="/main/homeAutism/sets/set1game1"><img id="gPage" src="../../../../assets/images/setA1.png" alt="joc1"></a>
        </nav>
      </div>
      <div id="column">
        <nav>
          <a routerLink="/main/homeAutism/sets/set2game1"><img id="gPage" src="../../../../assets/images/setA2.png" alt="joc2"></a>
        </nav>
      </div>
      <div id="column">
        <nav>
          <a routerLink="/main/homeAutism/sets/set3game1"><img id="gPage" src="../../../../assets/images/setA3.png" alt="joc3"></a>
        </nav>
      </div>
      <div id="column">
        <nav>
          <a routerLink="/main/homeAutism/sets/set4game1"><img id="gPage" src="../../../../assets/images/setA4.png" alt="joc4"></a>
        </nav>
      </div>
      
  </div>
  <div id="row">
    <div id="column">
      <nav>
        <a routerLink="/main/homeAutism/sets/set5game1"><img id="gPage" src="../../../../assets/images/setA5.png" alt="joc5"></a>
      </nav>
    </div>
    <div id="column">
      <nav>
        <a routerLink="/main/homeAutism/sets/set6game1"><img id="gPage" src="../../../../assets/images/setA6.png" alt="joc6"></a>
      </nav>
    </div>
    <div id="column">
      <nav>
        <a routerLink="/main/homeAutism/sets/set7game1"><img id="gPage" src="../../../../assets/images/setA7.png" alt="joc7"></a>
      </nav>
    </div>
    <div id="column">
      <nav>
        <a routerLink="/main/homeAutism/sets/set8game1"><img id="gPage" src="../../../../assets/images/setA8.png" alt="joc8"></a>
      </nav>
    </div>
    
</div>
</div>